# ================== SERVER CONFIG ==================
PORT=
NODE_ENV=
BASE_URL=

# ================== DATABASE CONFIG ==================
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DATABASE_URL=

# ================== MAIL CONFIG ==================
MAIL_USER=
MAIL_PASS=

# ================== CORS ==================
CORS_ORIGINS=

# ================== VERIFY EMAIL ==================
VERIFY_BASE_URL=

# ================== JWT ==================
JWT_SECRET=
JWT_EXPIRED=
JWT_REFRESH_SECRET=
REFRESH_EXPIRED=

# ================== VNPAY CONFIG ==================
FRONTEND_URL=
VNPAY_TMNCODE=
VNPAY_HASHSECRET=
VNPAY_RETURN_URL=